html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* footer  */

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 70px;
  right: 0;
  background-color:#2C2C2C;
}

.footer-p,
.ftxt {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-d {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
